body {
    background-color: black;
}

h1 {
    margin: 0px;
    font-size: 60px;
}

p {
    font-family: Roboto;
}

div.Top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1.Stylish {
    font-family: Rodchenk;
    color: white;
}

h1.Normal {
    font-family: Libre Baskerville;
    color: white;
}

h1.Roboto {
    font-family: Roboto;
    color: gray;
}

p.Gray {
    color: gray;
}

p.Red {
    color: red;
}

div.Bottom {
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: Libre Baskerville;
    src: url(./LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf)
}

@font-face {
    font-family: Rodchenk;
    src: url(./Rodchenk.ttf);
}

div.Bottom-Left img {
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

div.Bottom-Right img {
    max-width: 900px;
    height: 600px;
}

button:hover {
    cursor: pointer;
}

button {
    color: white;
    background-color: black;
    border-radius: 40px;
    height: 70px;
    width: 170px;
    border-style: groove;
    font-family: Roboto;
}

button img {
    height: 20px;
    width: 30px;
}

/*XXXX--------------------------------------------------XXXXXX*/
/*Responsivness*/

@media only screen and (max-width: 769px) {
    div.Bottom {
        flex-direction: column;
        gap: 20px;
    }

    div.Bottom-Right img {
        width: 450px;
        height: 250px;
    }

    h1 {
        font-size: large;
    }

    p {
        font-size: 10px;
    }
}

@media only screen and (min-width: 769px) {
    div.Bottom {
        flex-direction: row;
        gap: 20px;
    }

    div.Bottom-Right img {
        width: 900px;   
    }
}